
<!-- <app-casillas [lapalabra]="getPalabra()" [lasletras]="letras"></app-casillas> -->
<div 
    *ngFor="let fila of [].constructor(nfilaColumna); let i = index"
>
    <input 
        *ngFor="let input of [].constructor(nfilaColumna); let j = index"
        maxlength="1"
        [ngClass]="celdasEvaluadas[i][j] == 1 ? 'borde_verde' : celdasEvaluadas[i][j] == 2 && filaActual > i ? 'borde_naranja' : 'borde_gris'"
        (keyup)="validarFila(i, j, $event)"
        [disabled]="filaActual != i"
    />
</div>